[package]
name = "auth-service"
version = "0.1.0"
edition = "2021"

[dependencies]
common = { path = "../../crates/common" }
db = { path = "../../crates/db" }
contracts = { path = "../../crates/contracts" }

actix-web = { workspace = true }
tokio = { workspace = true }
sqlx = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
tracing = { workspace = true }
tracing-subscriber = { workspace = true }
